---
const currentPath = Astro.url.pathname;
const inactiveClass = "font-mono hover:text-gray-300";
const activeClass = inactiveClass + " underline";

const baseItems = [
  { href: "/about", text: "about", active: false },
  { href: "/projects", text: "projects", active: false },
  { href: "/blog", text: "blog", active: false },
];

const navItems = baseItems.map((item) => {
  if (currentPath.includes(item.href)) {
    return { ...item, active: true };
  }
  return item;
});

const { minimal = false } = Astro.props;
---

{
  minimal ? (
    <nav>
      {navItems.map((item) => (
        <a
          href={item.href}
          class="font-mono tracking-tight text-xs xs:text-sm sm:mr-2"
          data-astro-prefetch
        >
          {"["}
          <span class={inactiveClass}>{item.text}</span>
          {"]"}
        </a>
      ))}
    </nav>
  ) : (
    <nav class="relative mb-4 flex flex-row items-center justify-center gap-4 text-xl">
      {navItems.map((item) => (
        <a
          href={item.href}
          class="font-mono tracking-tight"
          data-astro-prefetch
        >
          {"["}
          <span class={item.active ? activeClass : inactiveClass}>
            {item.text}
          </span>
          {"]"}
        </a>
      ))}
    </nav>
  )
}
