---
const projectsWithImages = [
  {
    name: "Concerto Studio",
    url: "https://concerto.studio/",
    description: "Creatively & collaboratively review audio",
    image: "/images/concerto-studio.png",
  },
  {
    name: "Trading Fours",
    url: "https://tradingfours.app/",
    description: "Chat, but the language is MIDI",
    image: "/images/trading-fours.png",
  },
  {
    name: "encourage.nvim",
    url: "https://github.com/r-cha/encourage.nvim",
    description: "Cure your impostor syndrome",
    image: "/images/encourage-nvim.png",
  },
];
const projects = [
  {
    name: "HDRify",
    url: "https://hdrify.me",
    description: "Stand out on Slack (in the worst way)",
  },
  {
    name: "Tritip",
    url: "https://github.com/r-cha/tritip",
    description: "Practice typing",
  },
  {
    name: "dotfiles",
    url: "https://github.com/r-cha/dotfiles",
    description: "Set up your dev tools like mine",
  },
  {
    name: "Rhema Journal",
    url: "https://rhemajournal.com/",
    description: "Journal God's word",
  },
  {
    name: "rochadrums",
    url: "https://www.rochadrums.com/",
    description: "Check out my drumming",
  },
];
---

<section class="w-auto">
  <ul
    class="max-w-[400px] border-white pl-0 mb-4 gap-4 divide-y"
  >
    {
      projectsWithImages.map((project) => (
        <li class="p-4 grid">
          <img
            src={project.image}
            alt={project.name}
            class="w-full"
          />
          <div>
            <a
              href={project.url}
              target="_blank"
              data-hdr={project.name == "HDRify" ? "hdr" : "nope"}
              class="text-xl data-[hdr='hdr']:text-super-white font-mono tracking-tight text-nowrap text-decoration hover:underline hover:text-neutral-200 data-[hdr='hdr']:hover:text-white"
            >
              {project.name}
            </a>
            <p class="ml-2 text-left text-xs font-light text-neutral-300">
              {project.description}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
  <ul class="max-w-[400px] border-white border-l pl-4 mb-4">
    {
      projects.map((project) => (
        <li class="pb-2">
          <a
            href={project.url}
            target="_blank"
            data-hdr={project.name == "HDRify" ? "hdr" : "nope"}
            class="font-mono tracking-tight text-nowrap text-decoration hover:underline hover:text-neutral-200 data-[hdr='hdr']:text-super-white data-[hdr='hdr']:hover:text-white"
          >
            {project.name}
          </a>
          <p class="ml-2 text-left text-xs font-light text-neutral-300">
            {project.description}
          </p>
        </li>
      ))
    }
  </ul>
</section>
