---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en" class="flex justify-center max-w-full">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-black mt-8 mx-4 text-white">
    <main>
      <Header />
      <NavBar />
      <article
        class="prose prose-invert prose-pre:break-all prose-a:no-underline hover:prose-a:underline prose-a:prose-cyan prose-a:font-normal prose-inline-code:before:hidden prose-inline-code:after:hidden prose-inline-code:rounded prose-inline-code:bg-slate-800 prose-inline-code:border prose-inline-code:border-gray-600 prose-inline-code:font-extralight"
      >
        <div>
          <h1 class="mb-2 font-mono tracking-tight">{title}</h1>
          <div class="not-prose text-xs font-light">
            <em>
              Published <FormattedDate date={pubDate} />
            </em>
            {
              updatedDate && (
              <>
                |
                  <em>
                    Updated <FormattedDate date={updatedDate} />
                  </em>
                </>
              )
            }
          </div>
        </div>
        {
          heroImage && (
            <div class="w-full">
              <div class="image-container">
                <img class="image" src={heroImage} alt="" />
              </div>
            </div>
          )
        }
        <slot />
      </article>
      <Footer />
    </main>
  </body>
</html>
